@font-face {
    font-family: 'ACCchildrenheartOTF-Regular';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112-2@1.0/ACCchildrenheartOTF-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SANGJUGyeongcheonIsland';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/SANGJUGyeongcheonIsland.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'KyoboHandwriting2020A';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/KyoboHandwriting2020A.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'establishRoomNo703OTF';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2112@1.0/establishRoomNo703OTF.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'OTWelcomeRA';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2110@1.0/OTWelcomeRA.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: '휴먼옛체';
    src: url('../font/humanyet.TTF') format('truetype');
}

@font-face{
    font-family: 'Gwendolyn-Regular';
    src:url('../font/Gwendolyn-Regular.ttf');
}

@font-face{
    font-family: 'Gwendolyn-Bold';
    src:url('../font/Gwendolyn-Bold.ttf');
}

@font-face{
    font-family:'Metal-Regular';
    src:url('../font/Metal-Regular.ttf');
}

@font-face {
    font-family: 'wt021';
    src: url('../font/wt021.ttf');
}

@font-face {
    font-family: 'wt064';
    src: url('../font/wt064.ttf');
}

@font-face {
    font-family: 'wt071';
    src: url('../font/wt071.ttf');
}

@font-face {
    font-family:'wthc06';
    src: url('../font/wthc06.ttf');
}