@charset "utf8";
@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic|Nanum+Myeongjo&display=swap&subset=korean");

body,html{
    background-color: #000;
    height:100%;
    width:100%;
}
#root{
    height:100%;
    width:100%;
}
#root>div{
    height:100%;
    width:100%;
    display:flex;
    flex-direction:row;
    align-items: center;
    justify-content: center;
}